<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body>
<div class="main">
<header>

<div class="header-bar2">

  <nav>
    <div style="display:block">
      <div class="siteTitle2">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      <div style="display: flex; align-items: center;"> 
        {{ $currentPage := . }}
        {{ range .Site.Menus.other }}
        <a class="nav-item2" href="{{.URL}}"><div class="toc-box {{if eq .Name $currentPage.Site.Params.subtitle}} pages2 {{ else }} pages {{ end }}">{{ .Name }}</div></a>
        {{ end }}
      </div>
    </div> <!--siteTitle-->
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}"><div class="nav-item-title">{{ .Name }}</div></a>
        {{ end }}
  </nav>

</div>

</header>
