{{ partial "header.html" . }}

<article class="post">

  {{ partial "postheader.html" . }}

  {{/* insert table of contents at top when available */}}
  {{ if .TableOfContents }}
    <div class="toc-box prerequisites">
      <details closed>
        <summary>Contents</summary>
        {{ .TableOfContents }}
      </details>
    </div>
  {{ end }}
  <div class="content"> {{ .Content }} </div>

  {{ if .Scratch.Get "mathdefs" }}
  <div class="toc-box prerequisites">
    <details closed>
      <summary>Index of Definitions</summary>
      <ul>
        {{ range .Scratch.Get "mathdefs" }}
          {{ if eq .type "Definition" }}
          <li><a href="#{{ .id }}">{{ .name }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </details>
  </div>
  <div class="toc-box prerequisites">
    <details closed>
      <summary>Index of Results</summary>
      <ul>
        {{ range .Scratch.Get "mathdefs" }}
          {{ if or (eq .type "Theorem") (eq .type "Proposition") (eq .type "Lemma") (eq .type "Corollary") }}
          <li><a href="#{{ .id }}">{{ .type }} ({{ .name }})</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </details>
  </div>
  {{ end }}

  {{ partial "postfooter.html" . }}
</article>

{{ partial "related-content.html" . }}
{{ partial "footer.html" . }}
