{{ $type := .Get "type" | default "Definition" }}
{{ $name := .Get "name" | default "Unnamed" }}
{{ $id := .Get "id" | default (printf "%s-%s" $type $name | urlize) }}
{{ if not (.Page.Scratch.Get "mathdefs") }}{{ .Page.Scratch.Set "mathdefs" slice }}{{ end }}
{{ .Page.Scratch.Add "mathdefs" (dict "type" $type "name" $name "id" $id) }}
<blockquote id="{{ $id }}">
<script>
  renderMathInElement(document.getElementById('{{ $id }}'), {
    delimiters: [
      {left: "$$", right: "$$", display: true},
      {left: "$", right: "$", display: false}
    ]
  });
</script>
    {{ if not (eq $name "Unnamed") }}
  <strong>{{ $type }} ({{ $name }}).</strong>
    {{ else }}
    <strong>{{ $type }}.</strong>
    {{ end }}
  {{ .Inner }}
</blockquote>